@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Merienda&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #151515;
    font-family: 'EB Garamond', serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

h1{
    margin-bottom: 5vh;
    color: rgb(207, 13, 255);
}



button{
    margin: 0.2vh;
    width: 65vw;
    height: 10vh;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(207, 13, 255); 
    cursor: pointer;
   transition: 0.5s;
   font-family: 'EB Garamond', serif;
   font-size: 15px;
}

button:hover{
    border-top: 2px solid rgb(207, 13, 255);
    border-bottom: 2px solid rgb(207, 13, 255);
    background-color: transparent;
    color: rgb(207, 13, 255);
    box-shadow: none;
    border-radius: 0px;
}

input{
    width: 65vw;
    height: 10vh;
    margin: 2vh 0;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    color: rgb(207, 13, 255);
    font-size: 15px;
}

a{
    text-decoration: none;
}

.hide{
    display: none;
}

#barsGroup{
    display: flex;
    justify-content: center;
    width: 65vw;
    align-items: center;
    margin: 5vh;
    flex-direction: column;
}

.show-bars{
    background-color: #fff;
    color: rgb(207, 13, 255);
    padding: 2vw;
    border: 2px solid rgb(207, 13, 255);
    border-radius: 10px;
    width: 65vw;
    text-align: center;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
}

  

